<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=davidbourke1;AccountKey=IvEUEHaTkYvBcJu1ovpS2RtF90o0gsWAPSaRGri4c2M+lG7O8wHptIIWBMUVt+tjpLhTc5COXtwNO+2BnimYzQ==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>