<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=davidbourkesa1;AccountKey=fPW9ltx3l1HAFPsjydiImTFNOz6qQ47fqe69zX8vpMzJL7sZ0U7FXjpGfuQtBowwXRBqb7rCC5H+JWUyQu7hKQ==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>